DISCORD_TOKEN=your_discord_bot_token_here
POLLINATIONS_TOKEN=your_pollinations_token_here
GITHUB_APP_ID=
GITHUB_PRIVATE_KEY=./polly.pem
GITHUB_INSTALLATION_ID=
GITHUB_PROJECT_PAT=your_github_project_pat_here
DOC_EMBEDDINGS_ENABLED=true
